@import 'bootstrap/dist/css/bootstrap.min.css';



/* temperature */

.app-container{
  margin-left: 40%;
  margin-top: 90px;
  width: 320px;
  height: 460px;
  background-color: blue;
  border-radius: 50px;
}

.temperature-display{
  display: flex;
  border-radius: 50%;
  color: white;
  height: 250px;
  height: 250px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border: 3px solid white;
  transition: background 2.s;
}


button{
  border-radius: 100px;
  height: 60px;
  width: 60px;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(105, 104, 104);
  border: 2px solid #ffffff;
  margin-left: 70px;
  margin-top: 80px;
}

button:hover{
  background-color:rgb(184, 184, 184);
  cursor: pointer;
}

.cold{
  background-color: #035aa6;
}

.hot{
  background-color: #ff5200;
}
